/*工具類-通用類別樣式*/
.d-flex{
    display: flex;
}

.text-weight{
    font-weight: bold;
}

.mb-1{
    margin-bottom: 4px !important;
}
.mb-2{
    margin-bottom: 8px !important;
}
.mb-4{
    margin-bottom: 16px !important;
}
.me-2{
    margin-right: 8px !important;
}
.me-6{
    margin-right: 24px !important;
}
.me-4{
    margin-right: 16px !important;
}
.ps-5{
    padding-left: 20px !important;
}
.pt-5{
    padding-top:20px !important;
}
.pb-5{
    padding-bottom: 20px !important;
}