/*容器屬性*/
//Containers
.container{
    max-width: 1140px;
    margin: 0 auto;
   
    @include pad(){
        max-width: 720px;
    }
    @include phone(){
        max-width: 375px;
    }
}

